
body {
    background: linear-gradient(to bottom,black,#fff); /* Standard syntax (must be last) */
}


#man{
    background: #CCFFCC ;
  
}
#cork{
    background: #F0FFFF ;
  
}
#bangalore{
    background: #F0FFFF ;
  
}
#broomfield{
    background: #F0FFFF ;
  
}

caption{
    color: #00FF7F;
}

.navbar-nav,.navbar-inverse,.navbar-toggle,.navbar-right{
color:#00FF7F;
}

